body{
    background-color: black;
    }

.Welcome-text { 
    background-image:url("Images/HarryPotter/Images/banner.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

   

 h2{
    color: white;
    font-size: 300px;
    font-family: 'Trebuchet MS';
    text-align: center;
    position:relative;
    top:30%;   
    }




li {
        float: left;
        display: inline-block;
        background-color:black; 
        color: white;
        text-decoration: none;
        font-size: 60px;
        font-family: 'Trebuchet MS';
        width: 20%;
        text-align: center;
        padding-top: 60px;
     }


.Main-nav{
        width: 100%;
        height:300px 
        }

h3,p {
    color: white;
    line-height: 80px;
    font-family:'Trebuchet MS';
    font-size: 50px; 
    text-align: left;
    width: 2250px;
}



.Main-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

.Main-container > div {
    margin: 50px;
    text-align:left;
    line-height: 75px;
    font-size: 50px;
    }
 
    img{
        width:2250px;
        margin:0px;
        padding:0;
}
.Testimonials-container p{
    margin: auto;
    text-align: center;
    font-size: 50px;
    margin-top: 200px;
    margin-bottom:200px;
    }

    .Section-header {
        color: white;
        font-size: 80px;
        font-family: 'Trebuchet MS';
       text-align: center;
    }

  





        /* .Main-container,img {
         width: 950px; ;
            } */
        